body {
    background: #fffcf5;
    font-size: 85%;
    font-family: 'Yanone Kaffeesatz';
}

#wrapper {
    width: 450px;
    margin: 100px auto;
}

#title-bid {
    text-align: center;
    color: #E77C2E;
    font-size: 30px;
}


#auction-wrapper {
    background: #fff;
    box-shadow: 0px 0px 7px #777;
}

#picture {
    width: 200px;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
}

    #picture img {
        width: 95%;
        box-shadow: 0px 0px 7px #777;
    }

#auction {
    width: 200px;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
}

#time {
    padding-top: 15px;
}

#title-time, #type-time {
    font-size: 25px;
    display: inline-block;
}

#value-time {
    color: red;
    font-size: 50px;
    display: inline-block;
    font-family: 'Yanone Kaffeesatz';
    width:60px;
    text-align:center;
}

#bid-send {
}

#title-bid-now {
    font-size: 30px;
    margin-bottom: 5px;
}

#currency {
    font-size: 20px;
}

#prod-value-bid {
    border: 1px solid #DDD;
    background: #FFF;
    padding: 2px;
    margin: 0 2px 10px 2px;
    width: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: orangered;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#prod-btn-bid {
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: rgba(219,87,5,1);
    font-family: 'Yanone Kaffeesatz';
    font-weight: 700;
    font-size: 30px;
    display: inline-block;
    padding: 4px 8px;
    border: none;
    -webkit-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    margin: 0 0 0 15px;
    text-align: center;
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
    cursor: pointer;
}

    #prod-btn-bid:active {
        -webkit-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
        -moz-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
        box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
        position: relative;
        top: 6px;
    }


#total-bids {
    margin-top:25px;
    font-size:25px;
    color:gray;
    text-align:center;
}
#total-bids span {
    font-size:50px;
    color:black;
}

/* Border Radius */
#auction-wrapper, #picture img, #rod-btn-bid {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
