@{
    ViewBag.Title = "SignalR - Auction";
}


<div class="content">
    <p>This is a really small application just developed to exemplify how to code with SignalR.</p>

    <h2>How this Auction works</h2>
    <ul>
        <li>The auction start remaining 1 minute and 30 seconds to finish</li>
        <li>Each bid add 30 seconds to the remaining time</li>
        <li>Each bid add 1 cents to the value of the next bid</li>
        <li>The max value allowed to the remaining time is 1 minute and 30 seconds</li>
        <li>The last person to bid is the winner</li>
    </ul>
    <br />
    @Html.ActionLink("Click here to see the DEMO", "Auction")
</div>
